Authors: Naga, Chandra
Website:http://finalassignment-part1.azurewebsites.net
Description: This displays the home page of the website
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">

</div>
<div class="row">

</div>